<h3>Update Movie</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="movie">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="movie.title" name="title">
    </div>

    <div class="form-group">
      <label for="movie">Director</label>
      <input type="text" class="form-control" id="director" required [(ngModel)]="movie.director" name="director">
    </div>

    <div class="form-group">
      <label for="movie">Release date</label>
      <input type="text" class="form-control" id="releaseDate" required [(ngModel)]="movie.releaseDate" name="releaseDate">
    </div>

    <div class="form-group">
      <label for="movie">Type</label>
      <input type="text" class="form-control" id="type" required [(ngModel)]="movie.type" name="type">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
